/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Sep 11, 2023, 6:17:43 PM
    Author     : Dynabook
*/

body {
    margin: 0;
}

.container {
    width: 940px;
    margin: 16px auto;
    border: 1px solid #333;
    
}
.title {
    margin: 32px;
    font-size: 24px;
    font-weight: 800;
}

.toolbar {
    margin: 16px;
    padding: 16px;
    border: 1px solid #333;
}

.content {
    margin: 32px;
    
}