<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Kategori</title>
        <h:outputStylesheet library="css" name="main.css"/>
        <h:outputStylesheet library="css" name="primeflex.min.css"/>
    </h:head>
    <h:body>
        <h:form id="mainForm"/>
        
        <p:outputPanel id="container" styleClass="container">
            <div class="title">
                Kategori Baru
            </div>
            
            <div class="content">
                <h:panelGrid columns="2">
                    <p:outputLabel for="nama" value="Nama Kategori"/>
                    <p:inputText id="nama" placeholder="Katik Nama Kategori"/>
                    
                    <p:commandButton value="Simpan"/>
                </h:panelGrid>
            </div>
        </p:outputPanel>
        
    </h:body>
</html>
