<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xml:lang="en" 
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
      >
    <head>

        <meta charset="utf-8" />

        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <meta name="description" content="" />

        <meta name="author" content="" />

        <link rel="icon" href="logo.png"/>
        <title>M/Animal Administration System</title>
        <!-- Custom fonts for this template-->
        <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" />
        <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet" />
        <!-- Custom styles for this template-->
        <link href="css/sb-admin-2.min.css" rel="stylesheet" />
    </head>

    <body class="bg-gradient-warning">

        <div class="container">
            <!-- Outer Row -->

            <div class="row justify-content-center">

                <div class="col-xl-10 col-lg-12 col-md-9">

                    <div class="card o-hidden border-0 shadow-lg my-5">

                        <div class="card-body p-0">
                            <!-- Nested Row within Card Body -->

                            <div class="row">

                                <div class="col-lg-6 d-none d-lg-block bg-register-image" />

                                <div class="col-lg-6">

                                    <div class="p-5">

                                        <div class="text-center">

                                            <h1 class="h4 text-gray-900 mb-4">Selamat Datang</h1>
                                        </div>
                                        <h:form>

                                            <div class="form-group">
                                                <h:inputText  id="username" label="Username" class="form-control form-control-user" value="#{userc.username}"  required="true" a:placeholder="Masukkan Username Anda" />
                                                <b><h:message for="username" style="color: red; font-size: 13px"/></b>
                                            </div>
                                            <div class="form-group">
                                                <h:inputSecret label="Password" id="password" class="form-control form-control-user"  value="#{userc.password}" required="true"  a:placeholder="Masukkan Password Anda"/>
                                                <b><h:message for="password" style="color: red; font-size: 13px"/></b>
                                            </div>
                                            <b><h:outputText value="#{userc.validation}"  style="color: red; font-size: 13px" class="form-text" /></b>

                                            <h:commandButton value="LOGIN"  class="btn btn-warning btn-user btn-block" action="#{userc.nextpage}" />

                                            <hr />

                                        </h:form>


                                        <hr />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- End of Main Content -->
        <!-- End of Main Content -->

        <!-- Bootstrap core JavaScript-->

        <script src="vendor/jquery/jquery.min.js"></script>

        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Core plugin JavaScript-->

        <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
        <!-- Custom scripts for all pages-->

        <script src="js/sb-admin-2.min.js"></script>
    </body>

</html>